<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<!-- console Appender -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="fatal" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-5p] [%d{dd MMM yyyy HH:mm:ss}] [%C{1}] [%M] %m%n" />
		</layout>
	</appender>

	<appender name="persistance" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="DEBUG" />
		<param name="maxFileSize" value="2MB" />
		<param name="maxBackupIndex" value="5" />
		<param name="File" value="../logs/tplogs/PersistenceService.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-5p] [%d{dd MMM yyyy HH:mm:ss}]  %m%n" />
		</layout>
	</appender>
	<appender name="planService" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="DEBUG" />
		<param name="maxFileSize" value="2MB" />
		<param name="maxBackupIndex" value="5" />
		<param name="File" value="../logs/tplogs/planService.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-5p] [%d{dd MMM yyyy HH:mm:ss}] %m%n" />
		</layout>
	</appender>
	<appender name="otpMonitorLog" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="DEBUG" />
		<param name="maxFileSize" value="2MB" />
		<param name="maxBackupIndex" value="5" />
		<param name="File" value="../logs/tplogs/OtpMonitorLog.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-5p] [%d{dd MMM yyyy HH:mm:ss}] %m%n" />
		</layout>
	</appender>
	<appender name="feedbackService" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="DEBUG" />
		<param name="maxFileSize" value="2MB" />
		<param name="maxBackupIndex" value="5" />
		<param name="File" value="../logs/tplogs/feedbackService.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-5p] [%d{dd MMM yyyy HH:mm:ss}] %m%n" />
		</layout>
	</appender>
	<appender name="loggingService" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="DEBUG" />
		<param name="maxFileSize" value="2MB" />
		<param name="maxBackupIndex" value="5" />
		<param name="File" value="../logs/tplogs/loggingService.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-5p] [%d{dd MMM yyyy HH:mm:ss}] %m%n" />
		</layout>
	</appender>
	<!--  Live Feeds Appender -->
	<appender name="liveFeeds" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="DEBUG" />
		<param name="maxFileSize" value="2MB" />
		<param name="maxBackupIndex" value="5" />
		<param name="File" value="../logs/tplogs/liveFeeds.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-5p] [%d{dd MMM yyyy HH:mm:ss}] %m%n" />
		</layout>
	</appender>
	<appender name="advisoriesLog" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="DEBUG" />
		<param name="maxFileSize" value="2MB" />
		<param name="maxBackupIndex" value="5" />
		<param name="File" value="../logs/tplogs/advisoriesService.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-5p] [%d{dd MMM yyyy HH:mm:ss}] %m%n" />
		</layout>
	</appender>
	<!-- Default appender -->
	<appender name="syslog" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="INFO" />
		<param name="maxFileSize" value="2MB" />
		<param name="maxBackupIndex" value="5" />
		<param name="File" value="../logs/tplogs/syslog.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-5p] [%d{dd MMM yyyy HH:mm:ss}] [%C{1}] [%M] %m%n" />
		</layout>
	</appender>
	<appender name="flurry" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="DEBUG" />
		<param name="maxFileSize" value="2MB" />
		<param name="maxBackupIndex" value="5" />
		<param name="File" value="../logs/tplogs/flurry.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-5p] [%d{dd MMM yyyy HH:mm:ss}] %m%n" />
		</layout>
	</appender>
	<appender name="mailservice" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="DEBUG" />
		<param name="maxFileSize" value="2MB" />
		<param name="maxBackupIndex" value="5" />
		<param name="File" value="../logs/tplogs/mailservice.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-5p] [%d{dd MMM yyyy HH:mm:ss}] %m%n" />
		</layout>
	</appender>
	<appender name="gtfsmonitoring" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="DEBUG" />
		<param name="maxFileSize" value="2MB" />
		<param name="maxBackupIndex" value="5" />
		<param name="File" value="../logs/tplogs/gtfsmonitoring.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-5p] [%d{dd MMM yyyy HH:mm:ss}] %m%n" />
		</layout>
	</appender>
	<!-- Graph acceptance test -->
	<appender name="gat" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="DEBUG" />
		<param name="maxFileSize" value="2MB" />
		<param name="maxBackupIndex" value="5" />
		<param name="File" value="../logs/tplogs/graphAcceptanceTest.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-5p] [%d{dd MMM yyyy HH:mm:ss}] %m%n" />
		</layout>
	</appender>
	<appender name="apn" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="DEBUG" />
		<param name="maxFileSize" value="2MB" />
		<param name="maxBackupIndex" value="5" />
		<param name="File" value="../logs/tplogs/apnService.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-5p] [%d{dd MMM yyyy HH:mm:ss}] %m%n" />
		</layout>
	</appender>
	<appender name="notnoop" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="DEBUG" />
		<param name="maxFileSize" value="2MB" />
		<param name="maxBackupIndex" value="10" />
		<param name="File" value="../logs/tplogs/notnoopApi.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-5p] [%d{dd MMM yyyy HH:mm:ss}] %m%n" />
		</layout>
	</appender>
	<!-- ===================================================== Loggers ============================================================== -->
	<logger name="com.nimbler.tp.mongo.PersistenceService">
		<level value="DEBUG" />
		<appender-ref ref="persistance" />
	</logger>
	<logger name="com.nimbler.tp.service.TpFeedbackService">
		<level value="DEBUG" />
		<appender-ref ref="feedbackService" />
	</logger>
	<logger name="com.nimbler.tp.service.flurry.FlurryManagementService">
		<level value="DEBUG" />
		<appender-ref ref="flurry" />
	</logger>
	<logger name="com.notnoop">
		<level value="INFO" />
		<appender-ref ref="notnoop" />
	</logger>

	<logger name="com.nimbler.tp.service.TpEventLoggingService">
		<level value="DEBUG" />
		<appender-ref ref="loggingService" />
	</logger>
	<logger name="org.onebusaway.gtfs.serialization.GtfsReader">
		<level value="DEBUG" />
		<appender-ref ref="gtfsmonitoring" />
	</logger>
	<logger name="com.nimbler.tp.service.TpPlanService">
		<level value="DEBUG" />
		<appender-ref ref="planService" />
	</logger>
	<logger name="com.nimbler.tp.startup.StartupManager">
		<level value="DEBUG" />
		<appender-ref ref="syslog" />
	</logger>
	<logger name="javapns">
		<level value="DEBUG" />
		<appender-ref ref="apn" />
	</logger>

	<logger name="com.nimbler.tp.service.smtp.MailService">
		<level value="DEBUG" />
		<appender-ref ref="mailservice" />
	</logger>
	<logger name="com.nimbler.tp.gtfs.GraphAcceptanceTest">
		<level value="DEBUG" />
		<appender-ref ref="gat" />
	</logger>
	<logger name="com.nimbler.tp.service.OtpMonitoringService">
		<level value="DEBUG" />
		<appender-ref ref="otpMonitorLog" />
	</logger>
	<logger name="com.nimbler.tp.service.advisories.AdvisoriesService">
		<level value="DEBUG" />
		<appender-ref ref="advisoriesLog" />
	</logger>
	<logger name="com.nimbler.tp.gtfs.GtfsDataMonitor">
		<level value="DEBUG" />
		<appender-ref ref="gtfsmonitoring" />
	</logger>
	<logger name="com.nimbler.tp.gtfs.DBHealthMonitoringService">
		<level value="DEBUG" />
		<appender-ref ref="gtfsmonitoring" />
	</logger>
	<logger name="com.nimbler.tp.gtfs.GtfsDataService">
		<level value="DEBUG" />
		<appender-ref ref="gtfsmonitoring" />
	</logger>
	<logger name="com.nimbler.tp.service.livefeeds">
		<level value="DEBUG" />
		<appender-ref ref="liveFeeds" />
	</logger>	
	<logger name="com.nimbler.tp.service.APNService">
		<level value="DEBUG" />
		<appender-ref ref="apn" />
	</logger>	
	<logger name="org.springframework.web">
		<level value="WARN" />
		<appender-ref ref="syslog" />
	</logger>	
	<logger name="console">
		<level value="DEBUG" />
		<appender-ref ref="stdout" />
	</logger>
	<root>
		<priority value="debug" />
		<appender-ref ref="syslog" />
		<appender-ref ref="stdout" />
	</root>
</log4j:configuration>